body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('beaa776788318ffa9adf475282e18bb5.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}
